
#root {
  height: 100%;
  font-size: 14px;
}

img {
  width: 100%;
}




/**
 * box
 */
.center, .right, .left, .middle {
  display: -webkit-box;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
}
.center {
  -webkit-box-pack: center;
}
.right {
  -webkit-box-pack: end;
}
.left {
  -webkit-box-pack: start;
}

/**
 * padding margin
 */

.padding {
  padding: 10px;
}

/**
 * color
 */
.note {
  color: $noteColor;
}

/**
 * app
 */

.has-header {
  padding-top: $headerHeight;
}

/**
 * icon
 */
.icon-left,.icon-right {
  position: relative;
  &:before {
    position: absolute;
  }
}
.icon-left:before {
  left: -20px;
}
.icon-right:before {
  right: -20px;
}

/**
 * title
 */
.list-title {
  height: $liHeight;
  line-height: $liHeight;
  background: $bgColor;
  text-indent: 10px;
}

/**
 * list
 */
.list-box-sizing {
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 8px 15px;
}









