* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
}

/**
 * box
 */
.center, .right, .left, .middle {
  display: -webkit-box;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
}
.center {
  -webkit-box-pack: center;
}
.right {
  -webkit-box-pack: end;
}
.left {
  -webkit-box-pack: start;
}

/**
 * padding margin
 */

.padding {
  padding: 10px;
}

/**
 * color
 */
.note {
  color: $text-color-wrap;
}

/**
 * app
 */

.has-bar {
  margin-top: $app-bar-height;
}

















