#root {
  height: 100%;
}

img {
  width: 100%;
}




/**
 * box
 */
.center, .right, .left, .middle {
  display: -webkit-box;
  position: relative;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
}
.center {
  -webkit-box-pack: center;
}
.right {
  -webkit-box-pack: end;
}
.left {
  -webkit-box-pack: start;
}

/**
 * padding margin
 */

.padding {
  padding: 10px;
}

/**
 * color
 */
.note {
  color: $text-color-wrap;
}

/**
 * app
 */

.has-bar {
  margin-top: $app-bar-height;
}

















