.app-good-wrap {

  .item {
    padding: 1em;
    margin-top: .5em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e5e5e5;

    .img {
      padding: .5em 0px;
    }
  }
}