.app-vip-wrap {
  position: relative;
  width: 50%;
  display: inline-block;
  box-sizing:border-box;
  text-align: center;
  border-bottom: 1px solid $border-color;

  h1 {
    font-size: $title-size;
  }

  p {
    color: $text-color-des;
  }
  &.positive .name {
    color: map-get($colors, positive);
  }
  &.balanced .name {
    color: map-get($colors, balanced);
  }
  &.assertive .name {
    color: map-get($colors, assertive);
  }
  &.calm .name {
    color: map-get($colors, calm);
  }
  .next {
    font-size: 24px;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
  &.positive .next {
    color: map-get($colors, positive);
  }
  &.balanced .next {
    color: map-get($colors, balanced);
  }
  &.assertive .next {
    color: map-get($colors, assertive);
  }
  &.calm .next {
    color: map-get($colors, calm);
  }
  &.has-left-border {
    border-left: 1px solid $border-color;
  }
}