button {
  position: relative;
  text-align: center;
  font-size: $button-text-size;
  background: $theme;
  text-decoration: none;
  border: none;
  overflow: hidden;
  outline:none;
  cursor: pointer;
  color: #fff;

  &:active {
      opacity: 0.9;
      transition: 0s
  }

  &.big {
    font-size: $button-text-size * 1.3;
  }

}