/**
 * AppBar
 */

.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: $barHeight;
  overflow: hidden;
  line-height: $barHeight;
  font-size: 16px;
  background: $theme;
  color: #FFFFFF;
  z-index: 99;

  .bar-center {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .bar-left {
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .bar-right {
    position: absolute;
    width: 20%;
    text-align: right;
    top: 0;
    right: 0;
    overflow: hidden;
  }
}

/**
 * Search
 */

.search {
  position: relative;
  background: $bg;
  height: $rowHeight;
  line-height: $rowHeight;
  overflow: hidden;
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 60px;
  }
  button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: $rowHeight;
    line-height: $rowHeight;
    border: 0;
    padding: 0;
    font-size: 20px;
    color: #FFF;
    background: map-get($colors, assertive);
  }
}

/**
 * SearchAuto
 */
.search-auto {
  position: relative;
  height: $rowHeight;
  line-height: $rowHeight;
  position: relative;

  .input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    transition: .3s;
    -webkit-transition: .3s;
    z-index: 9;

    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      padding-left: 10px;
      padding-right: 60px;
    }
    button {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 60px;
      height: $rowHeight;
      line-height: $rowHeight;
      border: 0;
      padding: 0;
      font-size: 20px;
      color: map-get($colors, assertive);
      background: none;
    }
  }

  .cancel {
    position: absolute;
    width: 10%;
    text-align: center;
    right: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .suggestion {
    position: absolute;
    display: none;
    left: 12px;
    right: 12px;
    top: 42px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    z-index: 20;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.1);

    ul {

      li {
        @extend row;
        padding: 0 10px;
        border-bottom: 1px solid $borderColor;

        .tip {
          position: absolute;
          right: 10px;
          color: $noteColor;
        }
      }
    }

    .des {
      color: $jacinth;
      text-align: center;
      padding: 5px 0;
      letter-spacing: 5px;
    }
  }

}

/**
 * letters
 */
.letters {
  background: #FFF;
  padding: 10px;
  position: relative;

  .let-box {

    .let-ul {
      display: inline-block;
      width: 16.666666666666668%;
      @extend row;
      text-align: center;
      color: #296da1;
    }
    
    .let-li {
      list-style: none;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      display: none;
      
      .let-li-title {
        position: absolute;
        width: 50px;
        font-size: 30px;
        color: #9b9b9b;
        text-align: center;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
      }
      .let-li-citys {
        width: 100%;
        padding-left: 50px;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;

        span {
          display: inline-block;
          padding: 10px 20px;
        }
      }
    }
  }
}

/**
 * CartWrapper
 */
.catgs {
  position: relative;
  box-sizing: border-box;
  padding: 10px 0 30px 0;
  background: $white;
  border-bottom: 1px solid $borderColor;

  .item {
    display: block;
    box-sizing: border-box;
    float: left;
    text-align: center;
  }

  .slick-dots {
    bottom: auto;
  }
}