.Toaster {
  visibility: hidden;
  text-align: center;
  position: fixed;
  top: 20px;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  &.visibility {
    opacity: 1;
    visibility: visible;
  }

  p {
    display: box;
    display: -webkit-box;
    position: relative;
    padding: 10px 20px;
    left: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 1px rgba(0,0,0, 0.3);
    -webkit-box-shadow: 0px 5px 20px 1px rgba(0,0,0, 0.3);
    &.done {
      background: rgba(77,209,125, 0.6);
    }
    &.error {
      background: rgba(203,0,0, 0.6);
    }

    span {
      display: box;
      display: -webkit-box;
      -webkit-box-pack:center; //水平居中
      -webkit-box-align:center; //垂直居中
      letter-spacing: 1px;
      color: #FFF;
      padding: 0px 5px 0px 10px;
    }
  }
}